.card{
    background-color: rgba($theme_default_color, .8);
    padding: 2.5rem 2rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($text_color, .15);
    transition: all .3s;
    &:hover{
        transform: translateY(-1.2rem) scale(1.1);
    }
    &__icon{
        font-size: 6rem;
        background-image: linear-gradient(to right, $light_overlay_color, $dark_overlay_color);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
    }
    &__heading{
        color: $text_color;
        padding-bottom: .6rem;
        font:{
            size: 1.6rem;
            weight: 600;
        }
    }
    &__desc{
        font:{
            size: 1.5rem;
            weight: 400;
        }
        color: #666666;
    }
}